In [ ]:
import statistics
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
#sample data tinggi badan 
tinggi_badan = np.array([160, 152, 170, 165, 160, 177, 150, 164])
print(sum(tinggi_badan))
#mencari mean secara manual
print(sum(tinggi_badan)/8)
#mencari data tinggi badan dengan fackage stastistisk
print("===data tinggi badan===")
mean_tinggi_badan = np.mean(tinggi_badan)
median_tinggi_badan = np.median(tinggi_badan)
modus_tinggi_badan = stats.mode(tinggi_badan)
p25 =np.percentile(tinggi_badan, 25)
p50 =np.percentile(tinggi_badan, 50)
p75 =np.percentile(tinggi_badan, 75)
print(f'percentile 1 -> {p25}')
print(f'percentile 2 -> {p50}')
print(f'percentile 3 -> {p75}')
print(f'mean-> {mean_tinggi_badan}')
print(f'median-> {median_tinggi_badan}')
print(f'modus-> {modus_tinggi_badan}')

1298
162.25
===data tinggi badan===
percentile 1 -> 158.0
percentile 2 -> 162.0
percentile 3 -> 166.25
mean-> 162.25
median-> 162.0
modus-> ModeResult(mode=array([160]), count=array([2]))

In [ ]:
tinggi_pohon = np.array([240, 185, 190, 320, 240, 185, 200, 400, 320, 270])
diameter_batang = np.array([80, 90, 65, 120, 100, 150, 75, 110, 90, 65])

print(sum(tinggi_pohon))
print(sum(tinggi_pohon)/8)
mean_tinggi_pohon = np.mean(tinggi_pohon)
median_tinggi_pohon = np.median(tinggi_pohon)
modus_tinggi_pohon = stats.mode(tinggi_pohon)
p25 = np.percentile(tinggi_pohon, 25)
p50 = np.percentile(tinggi_pohon, 50)
p75 = np.percentile(tinggi_pohon, 75)

print(f'percentile 1 -> {25}')
print(f'percentile 2 -> {50}')
print(f'percentile 3 -> {75}')
print(f'mean -> {mean_tinggi_pohon}')
print(f'median -> {median_tinggi_pohon}')
print(f'modus -> {modus_tinggi_pohon}')
#diameter_batang
print(sum(diameter_batang))
print(sum(diameter_batang)/8)
mean_diameter_batang = np.mean(diameter_batang)
median_diameter_batang = np.median(diameter_batang)
modus_diameter_batang = stats.mode(diameter_batang)
p25 = np.percentile(diameter_batang, 25)
p50 = np.percentile(diameter_batang, 50)
p75 = np.percentile(diameter_batang, 75)

print(f'percentile 1 -> {25}')
print(f'percentile 2 -> {50}')
print(f'percentile 3 -> {75}')
print(f'mean -> {mean_diameter_batang}')
print(f'median -> {median_diameter_batang}')
print(f'modus -> {modus_diameter_batang}')

data_alam = np.concatenate((tinggi_pohon, diameter_batang))
print(data_alam)

mean_data_alam = np.mean(data_alam)
median_data_alam = np.median(data_alam)
modus_data_alam = stats.mode(data_alam)
p25 = np.percentile(data_alam, 25)
p50 = np.percentile(data_alam, 50)
p75 = np.percentile(data_alam, 75)
print(f'percentile 1 -> {25}')
print(f'percentile 2 -> {50}')
print(f'percentile 3 -> {75}')
print(f'mean -> {mean_data_alam}')
print(f'median -> {median_data_alam}')
print(f'modus -> {modus_data_alam}')

2550
318.75
percentile 1 -> 25
percentile 2 -> 50
percentile 3 -> 75
mean -> 255.0
median -> 240.0
modus -> ModeResult(mode=array([185]), count=array([2]))
945
118.125
percentile 1 -> 25
percentile 2 -> 50
percentile 3 -> 75
mean -> 94.5
median -> 90.0
modus -> ModeResult(mode=array([65]), count=array([2]))
[240 185 190 320 240 185 200 400 320 270  80  90  65 120 100 150  75 110
  90  65]
percentile 1 -> 25
percentile 2 -> 50
percentile 3 -> 75
mean -> 174.75
median -> 167.5
modus -> ModeResult(mode=array([65]), count=array([2]))

In [ ]:
beras = 11400
minyak = 12700
ayam = 3400

print("Belanjaan Tia")
beras_Tia = 10
ayam_Tia = 3
jb_tia = (beras_Tia * beras) + (ayam_Tia * (ayam * 10))
diskon = 10
jb_diskon_tia = (jb_tia / 100) * 90
print("maka jumlah belanjaan Tia Rp." + str(jb_tia))
print("maka jumlah belanjan tia setelah mendapatkan diskon" + str(jb_diskon_tia))

print("Belanjaan Hana")
minyak_Hana = 2
ayam_Hana = 18
jb_Hana = (minyak_Hana * minyak) + (ayam_Hana * ayam)
diskon = 10
jb_diskon_hana = (jb_Hana / 100) * 90
print("maka belanjan hana Rp." + str(jb_Hana))
print("maka jumlah belanjan hana setelah mendapatkan diskon" + str(jb_diskon_hana))

print("Belanjaan Widia")
beras_Widia = 3
minyak_Widia = 6
jb_Widia = (beras_Widia * beras) + (minyak_Widia * minyak)
diskon = 10
jb_diskon_widia = (jb_Widia / 100) * 90
print("maka belanjaan widia Rp." + str(jb_Widia))
print("maka jumlah belanjan widia setelah mendapatkan diskon" + str(jb_diskon_widia))

Belanjaan Tia
maka jumlah belanjaan Tia Rp.216000
maka jumlah belanjan tia setelah mendapatkan diskon194400.0
Belanjaan Hana
maka belanjan hana Rp.86600
maka jumlah belanjan hana setelah mendapatkan diskon77940.0
Belanjaan Widia
maka belanjaan widia Rp.110400
maka jumlah belanjan widia setelah mendapatkan diskon99360.0